<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_name_with_sku" type="Dotsquares\Producteventpractice\Plugin\Catalog\Model\ProductTitleWithSku"/>
    </type>
</config>